<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/SURAJ DUBEY/IdeaProjects/ATB8xAPIAutomationProgram2025">
        <classes>
            <class name="com.thetestingacademy.RestAssuredBasics.POST.APITesting008_POST_BDDStyle">
            </class>
            <class name="com.thetestingacademy.RestAssuredBasics.POST.APITesting009_POST_NonBDDStyle">
            </class>
        </classes>
    </test>
</suite>